@import "../../../scss/vars";

.default {
	display: inline-block;
	padding: 0 25px;
	margin: 10px 15px 15px 0;
	outline: none;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	border: 1px solid transparent;
	box-shadow: $shadow;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	vertical-align: top;
	transition: box-shadow 0.2s;

	&:focus-visible {
		border: 1px solid transparent;
		outline: none;
	}

	&:hover {
		transition: all 0.2s;
		box-shadow: $shadow2;
	}

	&:active {
		opacity: .7;
	}

	&:disabled {
		background-color: $disabledBg;
		border-color: $disabledBorder;
		color: $disabledColor;
		cursor: not-allowed;
	}
}


.delete {
    background-color: $redTransparent3;
}


