
.box select {
	margin-top: 10px;
  background-color: #f7cb15;
  color: black;
  padding: 5px;
  width: 130px;
  border: none;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
	cursor: pointer;
}

.box::before {
  font-size: 12px;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

